body
{
  background-color: gray;
  font-size: 1.6em;
}

input
{
  width: 50%;
  font-family: 'open sans-serif', arial, verdana;
  padding: 10px;
  font-size:2rem;
  height: 50px;
}

.mediafive
{
  border: 1px;
}

/* Media 500px TOSS */

@media only screen and (max-width: 500px)
 
{
  body
  {
    background-color: rgb(100, 0, 0);
  }
  
  
 .mediaseven, .medianine, .mediaeleven
  { 
    display: none; 
  }
  
 /* input
  {
  font-size: 14px;
  }*/

}


/* Media 700 */

@media only screen and (min-width: 501px) and (max-width: 700px)
 
{
  body
  {
    background-color: aqua;
  }
  
 .mediafive, .medianine, .mediaeleven
  { 
    display: none; 
  }
  
  /*input
  {
  font-size: 16px;
  }*/

}
 
/* Media 900 */

@media only screen and (min-width: 701px) and (max-width: 900px)
 
{
  body
  {
    background-color: green;
  }
  
 .mediafive, .mediaseven, .mediaeleven
  { 
    display: none; 
  }
  
 /* input
  {
  font-size: 18px;
  }*/

}

/* Media 1100 */

@media only screen and (min-width: 901px) and (max-width: 1100px)
 
{
  body
  {
    background-color: yellow;
  }
  
  .mediaeleven 
  { 
    display: inline-block; 
  }
  
  .mediafive, .medianine, .mediaseven
  { 
    display: none; 
  }
  
}

