body
{
  background-color: #888;
}

.toprow
{
  border: solid pink 2px;
  padding: 2rem;
  width: 98%;
  margin: 2px;
  display: flex;
}

.lefttop
{
  border: solid blue 2px;
  padding: 2rem;
  margin: 2px;
  width: 18%;
}       	

.leftmiddletop
{
  border: solid red 2px;
  padding: 2rem;
  margin: 2px;
  width: 18%;
}

.middletop
{
  border: solid green 2px;
  padding: 2rem;
  margin: 2px;
  width: 18%;
}

.rightmiddletop
{
  border: solid orange 2px;
  padding: 2rem;
  margin: 2px;
  width: 18%;
}

.righttop
{
  border: solid 2px;
  padding: 2rem;
  margin: 2px;
  width: 18%;
}

